In [14]:
import mysql.connector as sql

mydb = sql.connect(host = 'localhost', user = 'root', passwd = 'idontknow123&!@#', database = 'FirstTrySQL')

cursor = mydb.cursor()
cursor1 = mydb.cursor()

lst = [x**2 for x in range(1,101)]
#print(lst,'\n')

sql1 = '''

       CREATE TABLE EMPLOYEE (
       EMPID INT(6) NOT NULL,
       NAME CHAR(20) NOT NULL,
       AGE INT,
       SEX CHAR(1),
       INCOME FLOAT
       )
       '''
insert = ('insert into employee(EMPID, NAME, AGE, SEX, INCOME) values (%s, %s, %s, %s, %s)')
val = (12211, "Shivam", 26, "M", 25000.00)


if input('\npress "i" to insert values :  ') == 'i':    
    try:
        #cursor.execute("INSERT INTO EMPLOYEE VALUES (input('\nEmp ID: '), input('\nEmp Name: '), input('\nAge: '),  input('\nSex: '), input('\nIncome: '))")
        cursor.execute(insert, val)

        if input('\npress "c" for commit :  ') == 'c':
            mydb.commit()
            print('Changes saved to DB')
        else:
            print('\nNo changes were made to DB\n')
    except Exception as e:
        print("Error Message :", str(e))
        mydb.rollback()
        
else:
    pass

if input('\npress d to delete table contents :  ') == 'd':
    try:
        cursor.execute("delete from employee")
        if input('\npress dc for commit deletion :  ') == 'dc':
            mydb.commit()
            print('Table Deleted')
        else:
            print('\nNo changes were made to DB\n')
    except Exception as e:
        print("Error Message :", str(e))
        mydb.rollback()
else:
    pass
print('\nThe DB data is: \n')    
#marks = cursor.execute('select * from marks')    
cursor.execute('select * from employee')
emp = cursor.fetchall()

for i in emp:
    print(i)


    

mydb.close()

ModuleNotFoundError: No module named 'mysql'

In [63]:
import sqlite3

con = sqlite3.connect('D:\\TEST.db')

cursor = con.cursor()

sql1 = 'DROP TABLE IF EXISTS EMPLOYEE'

sql2 = '''

       CREATE TABLE EMPLOYEE (
       EMPID INT(6) NOT NULL,
       NAME CHAR(20) NOT NULL,
       AGE INT,
       SEX CHAR(1),
       INCOME FLOAT
       )
      '''
cursor.execute(sql1)
cursor.execute(sql2)

rec = (456789, 'Frodo', 45, 'M', 100000.00)
sql = '''
      INSERT INTO EMPLOYEE(empid, name, age, sex, income) VALUES ( ?, ?, ?, ?, ?)
      '''
try:
    cursor.execute(sql, rec)
    con.commit()

except Exception as e:
    print("Error Message :", str(e))
    con.rollback()

cursor.execute('select * from employee')
emp = cursor.fetchall()   

for i in emp:
    print(i)

con.close()

(456789, 'Frodo', 45, 'M', 100000.0)

In [20]:
import mysql.connector as sql
import petl

dbs = {"Source":"host = 'localhost', user = 'root', passwd = 'idontknow123&!@#', database = 'sourcedb'", "Target":
       "host = 'localhost', user = 'root', passwd = 'idontknow123&!@#', database = 'targetdb'"}

#sourceconn = sql.connect(dbs['Source'])
#targetconn = sql.connect(dbs['Target'])

sourceConn = sql.connect(host='localhost', user='root', passwd='idontknow123&!@#', database='sourcedb')
targetConn = sql.connect(host='localhost', user='root', passwd='idontknow123&!@#', database='targetdb')

scursor = sourceConn.cursor()
tcursor = targetConn.cursor()

sqlsel = '''select * from employee'''
sqlval = ('insert into employee(ID, Name, Age, Location, Sex, Skill) values(%s, %s, %s, %s, %s, %s)')
val1 = (12213, 'Shivam Maurya', 26, 'Pune', 'M', 'Python 3')
scursor.execute(sqlval, val1)
scursor.execute(sqlsel)
dt = scursor.fetchall()
print(dt)

scursor.execute("""SELECT Table_name as TablesName from information_schema.tables where table_schema = 'sourcedb'""")

alltables = scursor.fetchall()
print(alltables)

for i in alltables:
    tcursor.execute("drop table if exists %s" %(i[0]))
    sourcedata = petl.fromdb(sourceConn, 'select * from %s' %i[0])
    print(sourcedata)
    tcursor.execute('SET SQL_MODE=ANSI_QUOTES')
    petl.todb(sourcedata, targetConn,  i[0])

ModuleNotFoundError: No module named 'mysql'

In [185]:
import os
import sys
import sqlite3

conn = sqlite3.connect('SAMPLE.db')
cursor = conn.cursor()

cursor.execute("drop table if exists ITEMS")
    
sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
cursor.execute(sql_statement)

items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
                 (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
                 (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
                 (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
                 (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)
                 ]

sql = '''

       INSERT INTO ITEMS
       (item_id, item_name, item_description, 
       item_category, quantity_in_stock) 
       VALUES (?, ?, ?, ?, ?);

      '''
try:
    cursor.executemany(sql, items)
    cursor.execute("select * from ITEMS")
except:
    print('Unable to perform the transaction.')
rowout=[]     
for row in cursor.fetchall():
    rowout.append(row)
print(rowout)    
conn.close()

[(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3), (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5), (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10), (104, 'Mic canvas', 'Mic canvas', 'Tab', 5), (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)]

In [186]:
import sqlite3

def main():
    conn = sqlite3.connect('SAMPLE.db')
    cursor = conn.cursor()
    cursor.execute("drop table if exists ITEMS")
    
    sql_statement = '''CREATE TABLE ITEMS
    (item_id integer not null, item_name varchar(300), 
    item_description text, item_category text, 
    quantity_in_stock integer)'''
    
    cursor.execute(sql_statement)
    
    items = [(101, 'Nik D300', 'Nik D300', 'DSLR Camera', 3),
             (102, 'Can 1300', 'Can 1300', 'DSLR Camera', 5),
             (103, 'gPhone 13S', 'gPhone 13S', 'Mobile', 10),
             (104, 'Mic canvas', 'Mic canvas', 'Tab', 5),
             (105, 'SnDisk 10T', 'SnDisk 10T', 'Hard Drive', 1)
             ]
    try:
        cursor.executemany("Insert into ITEMS values (?,?,?,?,?)", items)

        #Add code for updating quantity_in_stock
        cursor.execute('update items set quantity_in_stock = 4 where item_id = 103')
        cursor.execute('update items set quantity_in_stock = 2 where item_id = 101')
        cursor.execute('update items set quantity_in_stock = 0 where item_id = 105')
        cursor.execute("select item_id,quantity_in_stock from ITEMS")
    except:
        'Unable to perform the transaction.'
    rowout=[]    
    for row in cursor.fetchall():
        rowout.append(row)
    return rowout    
    conn.close()
main()

[(101, 2), (102, 5), (103, 4), (104, 5), (105, 0)]